
#wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 80px;
}

h3{
     margin-left: 30px;
}


form{
    margin-top: 10%;
}

#reg,
#login,
#confirm,
#email {
    padding: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
}

input {
    background-color: transparent;
    border: none;
    height: 30px;
}

#confirm>input,
#email>input {
    height: 30px;
    padding: 0px;
}

.underline {
    background-color: black;
    z-index: 0;
    height: 1px;
}

p {
    align-self: flex-end;
}

button {
    margin-left: 20px;
    margin-top: 40px;
    width: 280px;
    height: 40px;
    font-size: 18px;
}